#main-container {
     font-family: Arial, Helvetica, sans-serif;
}

.container {
     border: solid 2px rgba(26, 122, 173, 0.500);
     padding: 15px;
     border-radius: 10px;
}

.goals{
     margin-top: 18px;
}
   
.goal-text{
     text-align: center;
     background-color: rgba(26, 122, 173);
     color: white;
     /* height: 30px; */
     font-size: larger;
     padding: 10px;
     border-radius: 8px;
}

.title{
     font-size: 25px;
     /* background-color: aqua; */
     border-radius: 8px;
     text-align: center;
     font-weight: 500;
     padding: 5px;
}

.item{
     width: 33vw;
     /* border: solid 1px black; */
     padding:10px 50px;
     text-align: center;
}

.event-container{
     /* border: solid 1px rgb(218, 218, 218); */
     border-radius: 8px;
     margin: 4px;
     background-color: rgb(247, 247, 247);

}

#scrollable-container{
     height: 200px;
     overflow-y: scroll;
}